/*==================*/
/* Universal Styles */
/*==================*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Lato Hairline'), local('Lato-Hairline'),
  url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHh30AXC-qNiXg7Q.woff2)
  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'),
  url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2)
  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'),
  url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
}

html body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

body {

}

/*==================*/
    /* Header */
/*==================*/

header {
  background-color: rgb(41, 63, 80);
  display: flex;
}

header h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 3rem;
  width: 50%;
  color: white;
  margin-top: 0;

}

header .header {
  display: inline-flex;
}

header .header-maintitle {
  border-top: 5px solid rgb(100, 136, 128);
  border-top-width: 30%;
}

header .dateandnav {
}

header .dateandnav h5 {
  color: rgb(100, 136, 128);
}

header .top-nav {

}

/*============================*/
/* H & F Universal Nav Style */
/*==========================*/

nav {
  width: 100%;
}

nav li {
  list-style-type: none;
  display: inline;
  margin: 0 2%;
}

nav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

/*==================*/
      /* Main */
/*==================*/

main {
  position: relative;
  top: 150px;
}

.craft-intro {
  background-color: rgb(41, 63, 80);
}

.craft-intro h2 {

}

.craft-intro h3 {

}

.craft-intro a {

}

.craft-intro input {

}

/* Panels */

.panels {

}

.panels .speakers {

}

.panels .speakers h6 {

}

.panels .speakers a {

}

.panels .speakers img {

}

.panels .speakers h3 {

}

.panels .speakers a {

}

.panels .speakers p {

}

/* Schedule (On Main Page) */



/*==================*/
    /* Footer */
/*==================*/
